@media (min-width: 768px) {
header .navbar-expand-lg .navbar-nav .dropdown-menu { position: absolute; transition: all 0.3s ease;
    display: block; visibility: hidden;  opacity: 0;  top: 120%; }
header li.nav-item.dropdown:hover > .dropdown-menu { visibility: visible; opacity: 1; top: 100%; padding: 0; }
}


@media(min-width: 901px) and (max-width: 1199px){
   .header-top-right::after{    left: -16%;}
   .achievements .count-text{font-size: 17px;}
   .Study-abroad .text-wrap img{height: 200px;}
}
@media(min-width:768px) and (max-width: 900px){
.top-header::before { height: 119px; right: 36.8%;}
.header-top-right::after { height: 94px; left: -26%;}
.header-top-right ul {margin: 0;}
.header-top-left p {margin: 6px 0;}

}


@media (min-width: 768px) and (max-width: 992px) {
   .header-top-left p{    font-size: 13px;}
   .main-header .logo img{width: 127%;}
   .header-top-right ul li{    margin-right: 18px;    padding: 14px 0;}
   .main-header .bg-light{float: left;}
   .about h1{    font-size: 31px;}
   .about p{font-size: 15px;}
   .Study-abroad .text-wrap p>a{font-size: 16px;}
   .Study-abroad .text-wrap img{height: 150px;}
   .services p a{    font-size: 20px;}
   .achievements .count-text{font-size: 16px;}
   .achievements .count-title{font-size: 30px;}
   .bridge-course h1{font-size: 32px;}
   .bridge-course ul li a{font-size: 20px;    line-height: 38px;}
   .test-preparation h1{font-size: 29px;}
    .test-preparation_wrap p{font-size: 20px;}
   .latest-news img{height: 130px;}
   .latest-news p{font-size: 12px;}
   .latest-news .date{font-size: 12px;}
   .latest-news .btn-dark{font-size: 13px;    margin: 0 27px 20px;}
   .success-stories .text-wrap{font-size: 12px;}
   .consultation h1{font-size: 21px;}
   .footer h1{font-size: 14px;}
   .aboutus p{font-size: 15px;}
  }



@media (max-width: 767px) {	
  .header-top-left p, .header-top-right ul li a{font-size: 12px;    margin: 0;}
  .header-top-right::after{    left:-24%%;top: -31px;}
  .header-top-right ul li{margin-right: 11px;}
  .top-header::before{    height: 119px;}
  .header-top-right i{font-size: 15px;}
  .main-header .logo img{width: 50%;}
   .main-header .bg-light{float:none;}
   .about img{width: 100%; position: static;padding: 30px 0;}
   .about h1{padding: 10px 0;}
   .Study-abroad .text-wrap{margin-bottom: 30px;}
   .services{padding: 20px 0;}
   .services h1{font-size: 34px;}
   .services img{width: 100px;  }
   .services .service-content{    font-size: 13px;  color: #fff;   padding-bottom: 25px;}
   .bridge-course h1{font-size: 33px;}
   .bridge-course ul li a{font-size: 20px;    line-height: 35px;}
   .test-preparation h1{    font-size: 27px;}
   .test-preparation img{height: 100px;}
   .test-preparation p{padding: 0;}
   .test-preparation .test-preparation_wrap p>a{font-size: 25px;}
   .achievements .count-text{ font-size: 17px;}
   .achievements .count-title{font-size: 30px;}
   .achievements .fa-2x{font-size: 40px;}
   .latest-news h1{font-size: 25px;    }
   .latest-news .text-wrap{margin-bottom: 20px;}
   .latest-news .btn-dark{    margin: 0 47px 16px 80px;}
   .success-stories{padding: 20px 0;}
   .success-stories p{ font-size: 14px;    padding-top: 20px; }
   .consultation{    padding: 35px 0;}
   .consultation h1{font-size: 18px;}
   .consultation .btn-secondary{font-size: 13px;}
   .affilated-universities{    padding: 25px 0;}
   .affilated-universities h1{font-size: 30px;}
   .footer{    padding: 25px 0;}
   .footer h1{font-size: 22px;}
   .copyright p{font-size: 13px;}
   .aboutus p{font-size: 13px;}
}


@media (max-width: 575px) {
   .header-top-left p, .header-top-right ul li a{font-size: 9px;margin:0;text-align: center;}
  .header-top-right ul li{  margin-right: 10px;}
  .header-top-right ul li{padding: 0;}
  .text-right{text-align: center!important;}
  .header-top-right i{    font-size: 13px;}
  .header-top-right::after{display: none;}
  .top-header::before{display: none;}
  .top-header:after{display: none;}
}